---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}



<!-------------以下内容是在主页生成搜索框，放在这里或者index.md都行------------>

<!-- <script async src="/assets/js/search.js"></script>

<div class="search-container" style="position: absolute; top: 95px; right: 60px; margin: 0px;">
    <i class="material-icons search-icon search-start">search</i>
    <input type="text" class="search-input" placeholder="Searching..." />
    <i class="material-icons search-icon search-clear">clear</i>
    <div class="search-results z-depth-4"></div>
</div> --> 